@charset "UTF-8";

body {
  margin: 0;
  font-family: 'Raleway';
}

.dark-theme {
  background-color: #181F2B;
}

header {
  display: flex;
  align-items: center;
  padding: 40px 50px;
  background-color: #1B2330;
}

nav {
  font-size: 16px;
  margin-left: auto;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  padding-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

.dark-header {
  color: #fff;
}

.dark-header h1 {
  width: 176px;
}

.dark-header h1 img {
  width: 100%;
}

.top-msg {
  width: 100%;
  text-align: center;
  position: relative;
}

.top-msg img {
  width: 100%;
  max-width: 720px;
}

.top-msg h2 {
  font-weight: 700;
  color: #fff;
  font-size: 40px;
  line-height: 60px;
}

.top-msg p {
  color: #fff;
  font-size: 20px;
  line-height: 30px;
}

.top-msg button {
  position: relative;
  display: inline-block;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  font-size: 16px;
  width: 280px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  background: transparent;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 19px;
  margin-top: 32px;
  cursor: pointer;
}

.top-msg button::before, .top-msg button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.top-msg button::before {
  transition: all 0.6s;
  z-index: -1;
  background: linear-gradient(138.1deg, #63E1D9 -49.34%, #34A0CD 100%);
}

.top-msg button::after {
  transition: all 0.6s;
  z-index: -2;
  background: #8ADAE3;
}

.top-msg button:hover::before {
  opacity: 0;
}

.top-msg button:hover {
  box-shadow: none;
  transition: all 0.6s ease 0s;
}

.svgbg {
  height: 100%;
  background-color: #1B2330;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.features {
  margin: 0 auto;
  width: 70%;
  color: #fff;
  text-align: center;
}

.feature {
  display: inline-block;
  width: calc((90% / 2) - 100px);
  text-align: center;
}

.feature h3 {
  font-size: 20px;
}

.feature p {
  line-height: 21px;
  font-size: 14px;
}

.margin-right {
  margin-right: 50px;
  margin-top: 80px;
}

.margin-left {
  margin-left: 50px;
  margin-top: 80px;
}

.bottom-msg {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
  padding-top: 130px;
}

.bottom-msg .bottom-msg-img img {
  width: 100%;
  max-width: 600px;
}

.bottom-msg .bottom-msg-txt {
  margin-left: 50px;
}

.bottom-msg div h2 {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
}

.bottom-msg div p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.bottom-msg div a {
  color: #62E0D9;
  font-size: 16px;
}

.bottom-msg div a:hover {
  color: #fff;
}

.bottom-msg div a svg {
  vertical-align: middle;
}

.bottom-msg div a svg:hover {
  fill: #fff;
}

.testimonials {
  width: 90%;
  margin: 0 auto;
  padding-top: 130px;
  display: flex;
}

.quote {
  position: relative;
}

.quote::before {
  position: absolute;
  top: -35px;
  left: -10px;
  background-repeat: no-repeat;
  content: "";
  background-image: url("../images/bg-quotes.png");
  width: 50px;
  height: 50px;
  z-index: -1;
}

.testimonial {
  padding: 40px 26px 25px 26px;
  background: #202A3C;
  box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.0991282);
  border-radius: 4px;
  color: #fff;
  width: calc((90% / 3) - 40px);
}

.testimonial-margin {
  margin-right: 40px;
}

.testimonial p {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 24px;
}

.profile {
  display: flex;
  align-items: center
}

.profile img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.profile div {
  font-weight: 700;
}

.profile div span {
  font-weight: 500;
}

.signup {
  transform: translateY(45%);
  text-align: center;
}

.signup-wrapper {
  width: 60%;
  background: #1B2330;
  margin: auto;
  color: #fff;
  padding: 42px 77px;
  border-radius: 9px;
}

.signup-wrapper h3 {
  font-size: 32px;
}

.signup-wrapper p {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 21px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.signup-btn {
  position: relative;
  display: inline-block;
  z-index: 0;
  overflow: hidden;
  color: #fff;
  font-size: 14px;
  width: 200px;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  background: transparent;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 15px 27px;
  margin-left: 30px;
  cursor: pointer;
}

.signup-btn::before, .signup-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.signup-btn::before {
  cursor: pointer;
  transition: all 0.6s;
  z-index: -1;
  background: linear-gradient(138.1deg, #63E1D9 -49.34%, #34A0CD 100%);
}

.signup-btn::after {
  transition: all 0.6s;
  z-index: -2;
  background: #8ADAE3;
  cursor: pointer;
}

.signup-btn:hover::before {
  opacity: 0;
  cursor: pointer;
}

.signup-btn:hover {
  box-shadow: none;
  transition: all 0.6s ease 0s;
  cursor: pointer;
}

.signup-input {
  width: 100%;
  max-width: 480px;
  padding: 16px 38px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  box-shadow: 2px 3px 6px rgba(7, 4, 59, 0.157043);
}

.signup-input::placeholder {
  color: #C0C0C0;
  font-size: 12px;
}

#submit-msg {
  padding-top: 15px;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}

footer {
  color: #fff;
  background: #0B1524;
  padding: 10% 5% 5% 5%;
}

.footer {
  display: flex;
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-logo {
  width: 100%;
  margin: 0 auto;
}

.footer-logo img {
  width: 110px;
  margin-bottom: 52px;
}

.footer-msg {
  width: 40%;
  padding: 0px;
  display: flex;
}

.footer-msg li {
  line-height: 24px;
}

.footer-msg li svg {
  margin-right: 16px;
  vertical-align: middle;
}

.footer-msg-txt {
  width: 70%;
}

.footer-contact {
  width: 25%;
}

.footer-contact li {
  margin-bottom: 20px;
  display: flex;
}

.footer-contact li svg {
  margin-right: 16px;
  vertical-align: middle;
}

.footer-menu1 {
  width: 15%;
}

.footer-menu1 li {
  margin-bottom: 20px;
}

.footer-menu1 li a:hover, .footer-menu2 li a:hover {
  font-weight: 700;
}

.footer-menu2 {
  width: 15%;
}

.footer-menu2 li {
  margin-bottom: 20px;
}

.footer-medias {
  display: flex;
}

.footer-medias img {
  width: 32px;
  height: 31px;
  padding: 2px 2px 2px 11px;
}

@media screen and (max-width: 1400px) {
  .signup-wrapper {
    width: 70%;
  }

  footer {
    padding: 20% 5% 5% 5%;
  }
}

@media screen and (max-width: 970px) {
  header {
    padding: 20px 30px;
  }

  nav {
    font-size: 12px;
  }

  nav ul li {
    padding-left: 24px;
  }

  .dark-header h1 {
    width: 80px;
  }

  .top-msg h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .top-msg p {
    font-size: 14px;
    line-height: 21px;
  }

  .features {
    padding-top: 130px;
  }

  .feature {
    width: 100%;
  }

  .feature h3 {
    font-size: 18px;
  }

  .margin-right, .margin-left {
    margin: 0 0 80px 0;
  }

  .bottom-msg {
    display: block;
  }

  .bottom-msg .bottom-msg-txt {
    margin: 50px 0 0 0;
  }

  .bottom-msg .bottom-msg-img {
    text-align: center;
  }

  .bottom-msg .bottom-msg-txt h2 {
    font-size: 18px;
    line-height: 24px;
  }

  .testimonials {
    display: block;
  }

  .testimonial {
    width: 95%;
    padding: 24px 20px;
  }

  .testimonial-margin {
    margin: 0 0 24px 0;
  }

  .signup-wrapper {
    width: 80%;
    padding: 40px 28px;
  }

  .signup-wrapper h3 {
    font-size: 25px;
  }

  .signup-wrapper p {
    padding-bottom: 30px;
  }

  .input-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .signup-input {
    width: 80%;
    padding: 19px 50px;
  }

  .signup-btn {
    width: 100%;
    max-width: 400px;
    margin: 24px 0 0 0;
    padding: 19px 27px;
  }

  #submit-msg {
    text-align: center;
  }

  footer {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
  }

  .footer {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .footer-logo {
    width: 90%;
    margin: 0 auto;
    padding-top: 250px;
  }

  .footer-msg {
    width: 90%;
    margin-bottom: 20px;
  }

  .footer-contact, .footer-menu1, .footer-menu2 {
    width: 90%;
    padding-left: 0px;
  }

  .footer-menu1, .footer-menu2 {
    margin-top: 56px;
  }

  .footer-medias {
    align-items: center;
    justify-content: center;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 375px) {
  header {
    padding: 20px 10px;
  }

  nav ul li {
    padding-left: 15px;
  }

  .quote::before {
    left: 0;
  }

  .testimonial {
    width: 90%;
  }
}
